@charset "utf-8";

/* 메인컬러 */
$main_color:#f36f21;

// 글자색상
$txt_color_g:#222222;
$txt_color_g2:#2f2f2f;
$txt_color_g3:#d1d1d1;

$txt_color_w:#fff;

//글자 기본크기
$base_font_size:15px;

// 가운데 정렬
$t_align_c:center;

/* common.css */

.more_box{
  padding-top:40px;
  text-align: $t_align_c;
}

/* 버튼 서식 */
a.more_btn{
  background-color:$txt_color_w;
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 10px;
  color:$txt_color_g2;
}