
// main.scss
$m_page_width:1200px;
$t_size_s:0.75rem;
$t_size_m:1rem;
$t_size_t1:2.5rem;
$t_size_t2:1.75rem;
$m_color:#f36f21;

a{text-decoration:none; color:#333;}

/* ============== 상단헤더영역 ============== */
header{width:100%;}
.h_inner{
  position:absolute;
  left:50%; transform:translate(-50%);
  width:95%; height:100px;
  display:flex;
  z-index:100;
}

header h1{display:flex; align-items:flex-end;}

header h1 img{width:18rem;}

header #toggle{display:none;}

header .gnb > li > a:hover{text-decoration:underline}

header nav > ul{
  position:absolute;
  bottom:0; right:0;
  height:40px;
  display:flex;
  font-size:$t_size_m;
  white-space:nowrap;
}

header nav > ul > li{
  width:100%; height:100%;
  padding-bottom:0.5rem;
  height:40px;
  padding:0.5rem 1rem;
}

header nav > ul > li:last-child{
  border:1px solid #333;
  margin-left:0.75rem;
  padding: 0 0.75rem;
  background:#333;
  line-height:40px;
  transform: translateY(-0.2rem);
}

nav .sub{
  position:absolute;
  top:50px;
  line-height:40px;
  background:#fff;
  border:1px solid #ccc;
  border-radius:10px;
  text-align:center;
  display:none;
  padding:1rem 0;
}

nav .sub li{padding:0 1rem; transition:0.5s;}

nav .sub li:hover{background:$m_color;}

.gnb > li:nth-child(3) > .sub li{padding:0 4rem}

nav .sub li:hover > a{color:#fff;}

.gnb > li:first-child > ul{
  transform:translate(-30%);
}
.gnb > li:nth-child(2) > ul{
  transform:translate(-40%);
}
.gnb > li:nth-child(3) > ul{
  transform:translate(-25%);
}
.gnb > li:nth-child(4) > ul{
  transform:translate(-14%);
}
.gnb > li:last-child:hover{
  background:#fff;
  border:1px solid $m_color;
}
.gnb > li:last-child:hover a{
  color:$m_color;
  text-decoration:none;
}

header nav > ul > li > a{color:#fff;}

/* ============= 메인콘텐츠영역 ============= */
@mixin conTitle($margin_t:8rem){
  font-size:$t_size_t1;
  margin-top:$margin_t;
  color:#262c38;
}


article{
  margin:0 auto;
  width:$m_page_width;
}

article h2{
  @include conTitle
}

/* 1. 메인 슬라이드 */
.mslide{
  position:relative; top:-10%;
  width:100%; height:100%;
}

.mslide .slide img{
  width:100%; height:100%;
  position:absolute;
}

.mslide .slide img:first-child{z-index:3;}
.mslide .slide img:nth-child(2){z-index:2;}
.mslide .slide img:last-child{z-index:1;}

.clearfix::after{
  content:'';
  display:block;
  padding-top:40%;
}

.mslide > div:nth-child(2){
  position:absolute; z-index:100;
  left:3%; bottom:22%;
}

.mslide .sns_icon{display:flex;}



.sns_icon > li > a{
  color:#fff;
  border:1px solid #fff;
  padding:0.2rem 0.4rem;
  margin:0.25rem;
  text-align:center;
}

.sns_icon > li > a:hover{
  background:#fff;
  color:$m_color;
}

.mslide .c_btn{
  display:flex;
  padding:0.25rem;
  transform:translate(12%, 55%)
}

.mslide .c_btn > li{
  background:#fff;
  padding:0.25rem;
  margin:0.25rem;
  cursor:pointer;
}


.mslide .c_btn > li > img{
  width:1.75rem;
}

.mslide .ctrl_btn > span{
  position:absolute; z-index: 100;
  right:4%;
  display:block;
  width:0.75rem; height:0.75rem;
  border-radius:50%;
  background-color:#fff;
  cursor:pointer;
}

.mslide .ctrl_btn > span:first-child{top:46%;}
.mslide .ctrl_btn > span:nth-child(2){top:50%;}
.mslide .ctrl_btn > span:last-child{top:54%;}

.ctrl_act{background-color: $m_color !important;}

/* 2. 미에로 화이바 공지사항 */




/* 3. 탭메뉴 콘텐츠 */
.con1{position:relative;}

.con1 > nav > ul{
  display:flex;
}

.active{background:$m_color !important;}

.con1 > nav > ul > li > a{
  display: block;
  background:#222;
  margin:2rem 0.2rem;
  padding:1rem;
  color:#fff;
}

.con1 .con1_content{display:flex;}

.con1 .con1_content > li{width:50%; margin-bottom:6rem;}

.con1 .con1_content > li:not(:first-of-type){display:none;}

.con1_content > li:nth-child(3) > img{width:100%;}

.con1 .con1_content > img{
  transform:translateY(-12%);
  width:50%;
  height:100%;
}

.con1_content > li > h3{
  font-size:$t_size_t2;
  margin-bottom:1rem;
  color:#222;
}

.con1_content > li p{
  line-height:2rem;
  color:#777;
}

.con1_content > li > div{display:flex;}

.con1_content > li > div:first-of-type > p{padding:0 2.25rem; transform:translateX(15%)}
.con1_content > li > div:first-of-type > p:nth-child(3){transform:translateX(22%)}

.con1_content > li > div:nth-of-type(2) > p{padding:0 2.25rem; transform:translateX(11%)}
.con1_content > li > div:nth-of-type(2) > p:nth-child(3){transform:translateX(17%)}

.con1_content > li > div:last-of-type > p{padding:0 2.25rem; transform:translateX(10%)}
.con1_content > li > div:last-of-type > p:nth-child(3){transform:translateX(8%)}

.con1 .con1_content .from{font-size:0.8rem;}

/* 4. 제품소개 */



/* 5. 이벤트 슬라이드 */



/* 6. 미에로 화이바 갤러리 */
.story{
  background-color: $m_color;
  padding:20px;
}

.story div{
  width:600px;
  margin:0px auto;
}

.story> div > h2{
  color:#fff;
  font-size:26px;
  margin-bottom: 5px;
}

.story > div > ul{
  display:grid; grid-gap:10px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 146px);
}

.story .i02{grid-area:1/2/3/3;}

.story > div > ul > li{
  width:200px;
  border:3px solid $m_color;
  position:relative;
  overflow: hidden;
}

.story img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.story figcaption{
  background-color:#000;
  color:#fff;
  width:100%; height:40px;
  position:absolute;
  left:0px; bottom:-40px;
  transition:0.5s;
}

.story figcaption > h3{
  color: $m_color;
  text-indent:5px;
}

.story a:hover figcaption{
  bottom:0px;
}

.story .i1{
  position:absolute;
  right:10px; bottom:5px;
  border:1px solid #fff;
  padding:2px;
}

.story .i2{margin:5px;}


/* ============== 하단푸터영역 ============== */
footer{font-size:0.9rem; font-weight:bold;}
footer > .f_t_wrapper, footer > .f_b_wrapper{width:100%;
}
footer > .f_t_wrapper{background:#2f2f2f;}
footer > .f_b_wrapper{background:#202020;}
footer .f_top{max-width:$m_page_width;}
footer .f_bottom{width:80%;}
footer .f_top{
  margin:0 auto;
  height:280px;
  display:flex;
  justify-content:space-between;
}

footer .f_bottom{
  margin:0 auto;
  height:72px;
}

.f_top .f_gnb{
  display:flex;
}

.f_top .f_gnb > li{
  width:8rem;
  flex-wrap:wrap;
  margin:3rem 3.2rem 0 0;
}
.f_top .f_sub li{margin:1.5rem 0;}

.f_top .f_gnb > li > a{
  color:$m_color;
}

.f_top .f_sub > li > a{
  color:#b1aeae;
  transition:0.4s;
}

.f_top .f_sub li:hover a{color:$m_color;}

.f_top > div{
  color:#fff;
  margin-top:3rem;
}
.f_top > div p{
  margin-bottom:2rem;
}
.f_top > div a{
  color:#fff;
  border:1px solid #fff;
  padding:0.25rem 0.4rem;
}

.f_bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.f_bottom > img{height:40%;}
.f_bottom > p{
  color:#777;
}

#list{
  margin:30px 0;
  background-color:$m_color;
}